In [ ]:
#!pip install splinter

In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Urls for Data scrape
freeThrowPct = "https://www.teamrankings.com/ncaa-basketball/stat/free-throw-pct"
astTo = "https://www.teamrankings.com/ncaa-basketball/stat/assist--per--turnover-ratio"
eFG = "https://www.teamrankings.com/ncaa-basketball/stat/effective-field-goal-pct"
defReb = "https://www.teamrankings.com/ncaa-basketball/stat/defensive-rebounding-pct"
offReb = "https://www.teamrankings.com/ncaa-basketball/stat/offensive-rebounding-pct"
oppEFG = "https://www.teamrankings.com/ncaa-basketball/stat/opponent-effective-field-goal-pct"
defEff = "https://www.teamrankings.com/ncaa-basketball/stat/defensive-efficiency"
teams = "https://www.teamrankings.com/ncaa-basketball/ranking/predictive-by-other"
sos = "https://www.teamrankings.com/ncaa-basketball/ranking/schedule-strength-by-other"

In [3]:
#Launch chrome driver
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [/Users/jerkardash/.wdm/drivers/chromedriver/mac64/87.0.4280.88/chromedriver] found in cache

In [6]:
#Process is iterative, visit browser
browser.visit(freeThrowPct)

In [7]:
#Create HTML object
html = browser.html

#Parse through with BS
soup = BeautifulSoup(html, 'html.parser')

In [8]:
#Get table from HTML
table = soup.find_all('table')
#Isolate fro DF
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]

#Rename to catagory
df_ft = df.rename(columns={
    "2020": "Free Throw %"
})
#df_ft

             Team Free Throw %
0        Colorado        83.1%
1    Oral Roberts        82.6%
2        Virginia        81.7%
3       Lafayette        80.4%
4         Detroit        80.4%
..            ...          ...
352         Brown           --
353        U Penn           --
354     Beth-Cook           --
355      Columbia           --
356       Cornell           --

[357 rows x 2 columns]

In [9]:
browser.visit(astTo)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_ast = df.rename(columns={
    "2020": "AST/TO"
})
#df_ast

In [11]:
#Create a merged DF
merged = df_ft.merge(df_ast, on="Team")
#merged

             Team Free Throw % AST/TO
0        Colorado        83.1%  1.194
1    Oral Roberts        82.6%  1.015
2        Virginia        81.7%  1.482
3       Lafayette        80.4%  1.491
4         Detroit        80.4%  1.245
..            ...          ...    ...
352         Brown           --     --
353        U Penn           --     --
354     Beth-Cook           --     --
355      Columbia           --     --
356       Cornell           --     --

[357 rows x 3 columns]

In [12]:
browser.visit(eFG)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [13]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_eFG = df.rename(columns={
    "2020": "EFG %"
})
#df_eFG

In [14]:
merged = merged.merge(df_eFG, on="Team")
#merged

In [15]:
browser.visit(defReb)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [16]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_defReb = df.rename(columns={
    "2020": "Def Reb %"
})
#df_defReb

In [17]:
merged = merged.merge(df_defReb, on="Team")
#merged

             Team Free Throw % AST/TO  EFG % Def Reb %
0        Colorado        83.1%  1.194  52.0%     76.9%
1    Oral Roberts        82.6%  1.015  53.6%     69.6%
2        Virginia        81.7%  1.482  56.1%     80.3%
3       Lafayette        80.4%  1.491  50.6%     72.6%
4         Detroit        80.4%  1.245  55.1%     72.5%
..            ...          ...    ...    ...       ...
352         Brown           --     --     --        --
353        U Penn           --     --     --        --
354     Beth-Cook           --     --     --        --
355      Columbia           --     --     --        --
356       Cornell           --     --     --        --

[357 rows x 5 columns]

In [18]:
browser.visit(offReb)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [19]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_offReb = df.rename(columns={
    "2020": "Off Reb %"
})
#df_offReb

In [20]:
merged = merged.merge(df_offReb, on="Team")
#merged

In [21]:
browser.visit(oppEFG)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [22]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_oppEFG = df.rename(columns={
    "2020": "Opp EFG %"
})
#df_oppEFG

In [23]:
merged = merged.merge(df_oppEFG, on="Team")
#merged

In [24]:
browser.visit(defEff)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [25]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_defEff = df.rename(columns={
    "2020": "Def Eff"
})
#df_defEff

In [26]:
merged = merged.merge(df_defEff, on="Team")
merged

,Team,Free Throw %,AST/TO,EFG %,Def Reb %,Off Reb %,Opp EFG %,Def Eff
0,Colorado,83.1%,1.194,52.0%,76.9%,27.7%,47.4%,0.925
1,Oral Roberts,82.6%,1.015,53.6%,69.6%,20.7%,50.4%,1.040
2,Virginia,81.7%,1.482,56.1%,80.3%,21.1%,47.9%,0.969
3,Lafayette,80.4%,1.491,50.6%,72.6%,22.8%,50.9%,1.041
4,Detroit,80.4%,1.245,55.1%,72.5%,25.5%,54.2%,1.060
...,...,...,...,...,...,...,...,...
352,Brown,--,--,--,--,--,--,--
353,U Penn,--,--,--,--,--,--,--
354,Beth-Cook,--,--,--,--,--,--,--
355,Columbia,--,--,--,--,--,--,--
356,Cornell,--,--,--,--,--,--,--

In [27]:
browser.visit(sos)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [28]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "Rating"]]
df_sos = df.rename(columns={
    "2020": "SOS"
})

In [29]:
#Take out record from team DF
df_sos["Team"] = df_sos["Team"].str.rsplit(" ", n=1, expand=True)

In [30]:
fatdood_data = merged.merge(df_sos, on="Team")
#fatdood_data

,Team,Free Throw %,AST/TO,EFG %,Def Reb %,Off Reb %,Opp EFG %,Def Eff,Rating
0,Colorado,83.1%,1.194,52.0%,76.9%,27.7%,47.4%,0.925,9.0
1,Oral Roberts,82.6%,1.015,53.6%,69.6%,20.7%,50.4%,1.040,-1.7
2,Virginia,81.7%,1.482,56.1%,80.3%,21.1%,47.9%,0.969,10.2
3,Lafayette,80.4%,1.491,50.6%,72.6%,22.8%,50.9%,1.041,-6.5
4,Detroit,80.4%,1.245,55.1%,72.5%,25.5%,54.2%,1.060,-3.1
...,...,...,...,...,...,...,...,...,...
342,NC-Asheville,60.6%,0.841,54.6%,68.8%,25.0%,49.7%,0.997,-5.8
343,Loyola-MD,60.6%,0.897,51.1%,76.0%,29.8%,48.4%,0.960,-4.5
344,New Mexico,60.4%,0.805,43.9%,72.0%,29.5%,53.1%,1.029,-2.8
345,Miss Val St,57.2%,0.614,43.6%,64.9%,15.9%,55.0%,1.161,-12.3
346,Maine,56.9%,0.735,45.1%,70.7%,23.3%,48.8%,0.976,-3.0

In [31]:
browser.quit()

In [32]:
df = fatdood_data

In [33]:
df.dtypes

Team             object
Free Throw %     object
AST/TO           object
EFG %            object
Def Reb %        object
Off Reb %        object
Opp EFG %        object
Def Eff          object
Rating          float64
dtype: object

In [34]:
df.loc[df["Free Throw %"] == "--", 'Free Throw %'] = np.nan
df = df.dropna()

In [35]:
#Take our percentage signs and make float to prepare for mean and SD

df["Free Throw %"] = df["Free Throw %"].str[:-1]
df["Free Throw %"] = df["Free Throw %"].astype(float)

df["AST/TO"] = df["AST/TO"].astype(float)

df["EFG %"] = df["EFG %"].str[:-1]
df["EFG %"] = df["EFG %"].astype(float)

df["Def Reb %"] = df["Def Reb %"].str[:-1]
df["Def Reb %"] = df["Def Reb %"].astype(float)

df["Off Reb %"] = df["Off Reb %"].str[:-1]
df["Off Reb %"] = df["Off Reb %"].astype(float)

df["Opp EFG %"] = df["Opp EFG %"].str[:-1]
df["Opp EFG %"] = df["Opp EFG %"].astype(float)

df["Def Eff"] = df["Def Eff"].astype(float)

In [40]:
#Get mean of columns
ft_mean = df["Free Throw %"].mean()
ast_mean = df["AST/TO"].mean()
efg_mean = df["EFG %"].mean()
defReb_mean = df["Def Reb %"].mean()
offReb_mean = df["Off Reb %"].mean()
oefg_mean = df["Opp EFG %"].mean()
defEff_mean = df["Def Eff"].mean()
sos_mean = df["Rating"].mean()

In [41]:
#Get SD of columns
ft_sd = df["Free Throw %"].std()
ast_sd = df["AST/TO"].std()
efg_sd = df["EFG %"].std()
defReb_sd = df["Def Reb %"].std()
offReb_sd = df["Off Reb %"].std()
oefg_sd = df["Opp EFG %"].std()
defEff_sd = df["Def Eff"].std()
sos_sd = df["Rating"].std()

In [42]:
#Create Z-score for each value
df["FT Score"] = (df["Free Throw %"] - ft_mean)/ft_sd
df["AST Score"] = (df["AST/TO"] - ast_mean)/ast_sd
df["EFG Score"] = (df["EFG %"] - efg_mean)/efg_sd
df["Def Reb Score"] = (df["Def Reb %"] - defReb_mean)/defReb_sd
df["Off Reb Score"] = (df["Off Reb %"] - offReb_mean)/offReb_sd
df["Opp EFG Score"] = (df["Opp EFG %"] - oefg_mean)/oefg_sd
df["Def Eff Score"] = (df["Def Eff"] - defEff_mean)/defEff_sd
df["Rating Score"] = (df["Rating"] - sos_mean)/sos_sd

In [44]:
#Create overall score
df["Score"] = (df["FT Score"] + df["AST Score"] + df["EFG Score"] + df["Def Reb Score"] + df["Off Reb Score"] - df["Opp EFG Score"] - df["Def Eff Score"] + df["Rating Score"])/8

In [45]:
#Sort by average Z-score
df = df.sort_values(by="Score", ascending=False)
df

,Team,Free Throw %,AST/TO,EFG %,Def Reb %,Off Reb %,Opp EFG %,Def Eff,Rating,FT Score,AST Score,EFG Score,Def Reb Score,Off Reb Score,Opp EFG Score,Def Eff Score,Rating Score,Score
111,Gonzaga,72.7,1.511,61.0,79.1,28.3,47.5,0.901,10.0,0.423509,2.385447,3.517979,1.521352,0.544259,-0.941862,-1.682786,1.577416,1.574326
83,Houston,73.5,1.243,50.7,76.8,39.8,42.9,0.853,5.9,0.614116,1.129370,0.219464,0.847999,3.065580,-2.536305,-2.538095,0.941758,1.486586
26,Michigan,76.9,1.352,55.5,78.6,28.0,44.6,0.937,12.2,1.424195,1.640237,1.756636,1.374971,0.478485,-1.947054,-1.041304,1.918500,1.447673
2,Virginia,81.7,1.482,56.1,80.3,21.1,47.9,0.969,10.2,2.567835,2.249528,1.948783,1.872667,-1.034307,-0.803215,-0.471098,1.608423,1.310905
171,Iowa,71.1,2.030,54.9,72.8,30.4,48.2,0.989,13.1,0.042296,4.817924,1.564490,-0.323051,1.004674,-0.699229,-0.114719,2.058035,1.247290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Air Force,69.3,0.853,52.1,65.6,13.3,57.4,1.107,-1.0,-0.386569,-0.698503,0.667806,-2.430941,-2.744420,2.489656,1.987916,-0.128007,-1.274776
317,San Jose St,65.6,0.755,44.7,66.1,18.2,52.6,1.127,-5.0,-1.268125,-1.157815,-1.702001,-2.284559,-1.670118,0.825890,2.344295,-0.748161,-1.500121
339,S Car State,62.1,0.571,44.8,66.8,24.1,55.4,1.065,-7.3,-2.102029,-2.020196,-1.669977,-2.079626,-0.376571,1.796420,1.239520,-1.104750,-1.548636
345,Miss Val St,57.2,0.614,43.6,64.9,15.9,55.0,1.161,-12.3,-3.269495,-1.818662,-2.054270,-2.635874,-2.174382,1.657773,2.950139,-1.879942,-2.305067
218,Chicago St,69.8,0.636,41.3,63.7,13.7,60.1,1.221,-5.2,-0.267440,-1.715551,-2.790831,-2.987189,-2.656722,3.425525,4.019275,-0.779169,-2.330213

In [46]:
#Export to excel
df.to_excel("fatdood.xlsx", sheet_name='All Teams')