In [1]:
#!pip install splinter

In [2]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import numpy as np
import matplotlib.pyplot as plt

In [3]:
freeThrowPct = "https://www.teamrankings.com/ncaa-basketball/stat/free-throw-pct"
astTo = "https://www.teamrankings.com/ncaa-basketball/stat/assist--per--turnover-ratio"
eFG = "https://www.teamrankings.com/ncaa-basketball/stat/effective-field-goal-pct"
defReb = "https://www.teamrankings.com/ncaa-basketball/stat/defensive-rebounding-pct"
offReb = "https://www.teamrankings.com/ncaa-basketball/stat/offensive-rebounding-pct"
oppEFG = "https://www.teamrankings.com/ncaa-basketball/stat/opponent-effective-field-goal-pct"
defEff = "https://www.teamrankings.com/ncaa-basketball/stat/defensive-efficiency"
teams = "https://www.teamrankings.com/ncaa-basketball/ranking/predictive-by-other"

In [4]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/87.0.4280.88/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/jerkardash/.wdm/drivers/chromedriver/mac64/87.0.4280.88]

In [5]:
# browser.visit(teams)
# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')
# table = soup.find_all('table')
# df_teams = pd.read_html(str(table))[0]

In [6]:
# df_teams["Team"] = df_teams["Team"].str.rsplit(" ", n=1, expand=True)
# df_teams = df_teams.head(100)

In [7]:
browser.visit(freeThrowPct)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_ft = df.rename(columns={
    "2020": "Free Throw %"
})
#df_ft

In [10]:
browser.visit(astTo)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_ast = df.rename(columns={
    "2020": "AST/TO"
})
#df_ast

In [12]:
merged = df_ft.merge(df_ast, on="Team")
merged

             Team Free Throw % AST/TO
0        Colorado        83.4%  1.218
1    Oral Roberts        82.6%  0.996
2        Virginia        81.2%  1.486
3     E Washingtn        80.5%  1.305
4       Lafayette        80.4%  1.491
..            ...          ...    ...
352       Harvard           --     --
353        U Penn           --     --
354     Dartmouth           --     --
355          Yale           --     --
356      Columbia           --     --

[357 rows x 3 columns]

In [13]:
browser.visit(eFG)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_eFG = df.rename(columns={
    "2020": "EFG %"
})
#df_eFG

In [15]:
merged = merged.merge(df_eFG, on="Team")
#merged

In [16]:
browser.visit(defReb)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [17]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_defReb = df.rename(columns={
    "2020": "Def Reb %"
})
#df_defReb

In [18]:
merged = merged.merge(df_defReb, on="Team")
#merged

In [19]:
browser.visit(offReb)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [20]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_offReb = df.rename(columns={
    "2020": "Off Reb %"
})
#df_offReb

In [21]:
merged = merged.merge(df_offReb, on="Team")
#merged

In [22]:
browser.visit(oppEFG)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [23]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_oppEFG = df.rename(columns={
    "2020": "Opp EFG %"
})
#df_oppEFG

In [24]:
merged = merged.merge(df_oppEFG, on="Team")
#merged

In [25]:
browser.visit(defEff)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [26]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]
df = df[["Team", "2020"]]
df_defEff = df.rename(columns={
    "2020": "Def Eff"
})
#df_defEff

In [27]:
fatdood_data = merged.merge(df_defEff, on="Team")
#fatdood_data

In [28]:
browser.quit()

In [29]:
df = fatdood_data

In [30]:
df.dtypes

Team            object
Free Throw %    object
AST/TO          object
EFG %           object
Def Reb %       object
Off Reb %       object
Opp EFG %       object
Def Eff         object
dtype: object

In [31]:
df.loc[df["Free Throw %"] == "--", 'Free Throw %'] = np.nan
df = df.dropna()

In [32]:
df["Free Throw %"] = df["Free Throw %"].str[:-1]
df["Free Throw %"] = df["Free Throw %"].astype(float)

df["AST/TO"] = df["AST/TO"].astype(float)

df["EFG %"] = df["EFG %"].str[:-1]
df["EFG %"] = df["EFG %"].astype(float)

df["Def Reb %"] = df["Def Reb %"].str[:-1]
df["Def Reb %"] = df["Def Reb %"].astype(float)

df["Off Reb %"] = df["Off Reb %"].str[:-1]
df["Off Reb %"] = df["Off Reb %"].astype(float)

df["Opp EFG %"] = df["Opp EFG %"].str[:-1]
df["Opp EFG %"] = df["Opp EFG %"].astype(float)

df["Def Eff"] = df["Def Eff"].astype(float)

<ipython-input-32-85033e6397f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Free Throw %"] = df["Free Throw %"].str[:-1]
<ipython-input-32-85033e6397f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Free Throw %"] = df["Free Throw %"].astype(float)
<ipython-input-32-85033e6397f4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AST/TO"] = df["AST/TO"].astype(float)
<ipython-input-32-85033e6397f4>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EFG %"] = df["EFG %"].str[:-1]
<ipython-input-32-85033e6397f4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EFG %"] = df["EFG %"].astype(float)
<ipython-input-32-85033e6397f4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Def Reb %"] = df["Def Reb %"].str[:-1]
<ipython-input-32-85033e6397f4>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Def Reb %"] = df["Def Reb %"].astype(float)
<ipython-input-32-85033e6397f4>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Off Reb %"] = df["Off Reb %"].str[:-1]
<ipython-input-32-85033e6397f4>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Off Reb %"] = df["Off Reb %"].astype(float)
<ipython-input-32-85033e6397f4>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Opp EFG %"] = df["Opp EFG %"].str[:-1]
<ipython-input-32-85033e6397f4>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Opp EFG %"] = df["Opp EFG %"].astype(float)
<ipython-input-32-85033e6397f4>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Def Eff"] = df["Def Eff"].astype(float)

In [33]:
ft_mean = df["Free Throw %"].mean()
ast_mean = df["AST/TO"].mean()
efg_mean = df["EFG %"].mean()
defReb_mean = df["Def Reb %"].mean()
offReb_mean = df["Off Reb %"].mean()
oefg_mean = df["Opp EFG %"].mean()
defEff_mean = df["Def Eff"].mean()

In [34]:
ft_sd = df["Free Throw %"].std()
ast_sd = df["AST/TO"].std()
efg_sd = df["EFG %"].std()
defReb_sd = df["Def Reb %"].std()
offReb_sd = df["Off Reb %"].std()
oefg_sd = df["Opp EFG %"].std()
defEff_sd = df["Def Eff"].std()

In [35]:
df["FT Score"] = (df["Free Throw %"] - ft_mean)/ft_sd
df["AST Score"] = (df["AST/TO"] - ast_mean)/ast_sd
df["EFG Score"] = (df["EFG %"] - efg_mean)/efg_sd
df["Def Reb Score"] = (df["Def Reb %"] - defReb_mean)/defReb_sd
df["Off Reb Score"] = (df["Off Reb %"] - offReb_mean)/offReb_sd
df["Opp EFG Score"] = (df["Opp EFG %"] - oefg_mean)/oefg_sd
df["Def Eff Score"] = (df["Def Eff"] - defEff_mean)/defEff_sd

<ipython-input-35-269cc6e63eef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["FT Score"] = (df["Free Throw %"] - ft_mean)/ft_sd
<ipython-input-35-269cc6e63eef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AST Score"] = (df["AST/TO"] - ast_mean)/ast_sd
<ipython-input-35-269cc6e63eef>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EFG Score"] = (df["EFG %"] - efg_mean)/efg_sd
<ipython-input-35-269cc6e63eef>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Def Reb Score"] = (df["Def Reb %"] - defReb_mean)/defReb_sd
<ipython-input-35-269cc6e63eef>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Off Reb Score"] = (df["Off Reb %"] - offReb_mean)/offReb_sd
<ipython-input-35-269cc6e63eef>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Opp EFG Score"] = (df["Opp EFG %"] - oefg_mean)/oefg_sd
<ipython-input-35-269cc6e63eef>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Def Eff Score"] = (df["Def Eff"] - defEff_mean)/defEff_sd

In [37]:
df

,Team,Free Throw %,AST/TO,EFG %,Def Reb %,Off Reb %,Opp EFG %,Def Eff,FT Score,AST Score,EFG Score,Def Reb Score,Off Reb Score,Opp EFG Score,Def Eff Score
0,Colorado,83.4,1.218,52.3,76.9,27.4,47.0,0.920,2.954809,1.009173,0.713955,0.861012,0.349890,-1.116273,-1.323668
1,Oral Roberts,82.6,0.996,53.8,69.4,21.0,50.7,1.043,2.765710,-0.027258,1.190199,-1.323201,-1.052194,0.164613,0.853086
2,Virginia,81.2,1.486,56.1,80.9,20.4,47.9,0.963,2.434787,2.260360,1.920441,2.025927,-1.183640,-0.804706,-0.562689
3,E Washingtn,80.5,1.305,54.3,74.3,21.9,48.5,0.991,2.269325,1.415342,1.348948,0.103818,-0.855026,-0.596995,-0.067168
4,Lafayette,80.4,1.491,50.6,72.6,22.8,50.9,1.041,2.245688,2.283703,0.174211,-0.391270,-0.657858,0.233850,0.817692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,UC San Diego,60.7,1.203,55.0,69.8,14.5,54.5,1.079,-2.410877,0.939144,1.571195,-1.206710,-2.476186,1.480116,1.490185
343,NC-Asheville,60.6,0.841,54.6,68.8,25.0,49.7,0.997,-2.434514,-0.750892,1.444196,-1.497938,-0.175892,-0.181573,0.039015
344,New Mexico,60.0,0.801,43.5,72.1,30.3,52.5,1.028,-2.576339,-0.937637,-2.080012,-0.536884,0.985209,0.787746,0.587628
345,Maine,56.9,0.735,45.1,70.7,23.3,48.8,0.976,-3.309098,-1.245765,-1.572018,-0.944604,-0.548320,-0.493139,-0.332626
346,Miss Val St,56.7,0.615,43.7,64.9,15.7,54.7,1.161,-3.356372,-1.805998,-2.016513,-2.633730,-2.213295,1.549353,2.941355

In [38]:
df["Score"] = (df["FT Score"] + df["AST Score"] + df["EFG Score"] + df["Def Reb Score"] + df["Off Reb Score"] - df["Opp EFG Score"] - df["Def Eff Score"])/7

<ipython-input-38-d8d37f2502bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Score"] = (df["FT Score"] + df["AST Score"] + df["EFG Score"] + df["Def Reb Score"] + df["Off Reb Score"] - df["Opp EFG Score"] - df["Def Eff Score"])/7

In [39]:
df = df.sort_values(by="Score", ascending=False)
df

,Team,Free Throw %,AST/TO,EFG %,Def Reb %,Off Reb %,Opp EFG %,Def Eff,FT Score,AST Score,EFG Score,Def Reb Score,Off Reb Score,Opp EFG Score,Def Eff Score,Score
102,Gonzaga,73.0,1.495,61.0,79.0,28.9,47.1,0.895,0.496521,2.302377,3.476173,1.472592,0.678503,-1.081654,-1.766098,1.610560
86,Houston,73.5,1.194,50.5,76.6,39.8,43.0,0.853,0.614708,0.897126,0.142462,0.773644,3.066427,-2.501014,-2.509380,1.500680
96,Colgate,73.2,1.647,56.3,76.9,25.7,44.8,0.915,0.543796,3.012006,1.983940,0.861012,-0.022539,-1.877880,-1.412154,1.381179
30,Michigan,76.5,1.312,55.3,78.4,27.8,44.1,0.933,1.323830,1.448022,1.666444,1.297855,0.437520,-2.120210,-1.093605,1.341069
94,Loyola-Chi,73.3,1.312,56.3,80.7,24.0,46.7,0.859,0.567433,1.448022,1.983940,1.967681,-0.394967,-1.220128,-2.403197,1.313633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Air Force,69.5,0.845,52.4,65.7,14.0,57.0,1.104,-0.330787,-0.732218,0.745705,-2.400747,-2.585723,2.345579,1.932615,-1.368852
325,San Jose St,64.6,0.723,44.4,65.6,18.3,51.7,1.109,-1.489019,-1.301788,-1.794266,-2.429870,-1.643698,0.510798,2.021101,-1.598649
337,S Car State,62.1,0.571,44.8,66.8,24.1,55.4,1.065,-2.079954,-2.011417,-1.667267,-2.080396,-0.373060,1.791683,1.242425,-1.606600
346,Miss Val St,56.7,0.615,43.7,64.9,15.7,54.7,1.161,-3.356372,-1.805998,-2.016513,-2.633730,-2.213295,1.549353,2.941355,-2.359517
216,Chicago St,69.8,0.636,41.3,63.7,13.7,60.1,1.221,-0.259875,-1.707957,-2.778504,-2.983204,-2.651446,3.418754,4.003187,-2.543275

In [40]:
df.to_excel("fatdood.xlsx", sheet_name='Sheet_name_1')